@import '../../../themes/default/settings.colors.scss';

.pagination {
  background-color: $white;
  margin: 2em 0;

  ul {
    display: flex;
    margin: 0 1em;
    padding: 0;
  }

  li {
    list-style: none;
    margin: 2em 1em;
    padding: 0;
  }

  .pageCount {
    color: $greyDark;
  }
}
