@import '../themes/default/settings.media.scss';
@import '../themes/default/resets.scss';

.mainContent {
    margin: 0 auto;
    max-width: 80em;
    padding: 0 1em;

    @media #{$desktopUp} {
        padding: 0 2em;
    }
}
